# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints

# Environment
.env
.venv
venv/

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Data
data/raw/*
data/processed/*

# Private notes
private_notes/